body {
    margin: 0;
    font-family: Arial;
    background-color: #001f3f;
    /* azul marinho */
    color: white;
}

header {
    background: #1f3b73;
    /* azul de persia */
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
}

header h1 {
    margin: 0;
}

nav a {
    margin: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.categoria {
    text-align: center;
    font-size: 32px;
    margin: 40px 0;
}

.livro {
    display: flex;
    gap: 20px;
    margin: 40px;
    align-items: flex-start;
}

.livro img {
    width: 300px;
    border-radius: 10px;
}

.info {
    max-width: 700px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.historia {
    display: flex;
    gap: 30px;
    padding: 50px;
}

.fotos img {
    width: 350px;
    margin-bottom: 20px;
}

#carrinho {
    margin-top: 200px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
}

#finalizar {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    background: #1f3b73;
    color: white;
    border: none;
    border-radius: 10px;
}

#finalizar:hover {
    background: #274c9b;
}
.linha {
  border: none;
  height: 3px;
  width: 80%;
  background-color: white; 
  margin: 40px auto;
}
